{% extends 'base/newbase.html' %}



{%block content%}
{%endblock%}

{% block lol %}

    <section id="contact">
	    <div class="box">

	    	<div class="container wow fadeInUp">
	        	<div class="section-header">
	          		<h3 class="section-title">Login</h3>
	          		<br>
	          		<div class="container" >
	          			{% if messages %}
    					
        					{% for error in messages %}
        				
								<div class="alert alert-success alert-dismissible" style="margin: auto; width: 30%">
								  <button type="button" class="close" data-dismiss="alert">&times;</button>
								  
								  <p class="mb-0">{{error}}</p>
								</div>
        					{% endfor %}
   						
						{% endif %}
						<br>
				
  					</div>
	        	</div>
	        </div>
		    <div class="container wow fadeInUp">
			   <div class="">
			   		<div class="center">
					    <div class="col-lg-5 col-md-8">
					      	<div class="form">

					      		
						        	<div class="form-group">
						          	<form  method="POST" > {% csrf_token %}	
								    	{{form.as_p}}
									 	<center><button type="submit" class="btn btn-primary">Ingresar</button></center>
								
									</form>
										<p class="text-center"> <a href = "{% url 'password_reset' %}" > Olvide mi contraseña </a></p> 
						        	</div>
					       		 
					      	</div>
					    </div>
				  	</div>  
				</div>
			</div>

	    </div>

    </section>

{% endblock %}
